# BioniDKU .gitattributes file
# A lesson from 201_b1 and 201_b2: GitHub will always convert things from CRLF to LF unless if you do this

# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Declare files that will always have CRLF line endings and with UTF-8 encoding on checkout.
*.ps1 text eol=crlf encoding=utf-8
*.psm1 text eol=crlf encoding=utf-8
*.bat text eol=crlf encoding=utf-8

# Denote all files that are truly binary and should not be modified.
*.exe binary
*.dll binary
*.ico binary
